body {
  background: -moz-radial-gradient(#334046 5%, #0F1A20);
  background: -webkit-radial-gradient(#334046 5%, #0F1A20);
  background: -o-radial-gradient(#334046 5%, #0F1A20);
  background: radial-gradient(#334046 5%, #0F1A20);
  width: 100%;
  height: 600px;
}
/* Title of the App */
h1 {
  color: #ffffff;
}
/* Button to get your current location */
#localWeather{
  background-color: #0F1A20;
  border: 4px solid #ffffff;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  text-align: center;
}
#localWeather:hover {
  background-color: #ffffff;
  border: 4px solid #0F1A20;
}
/* icon to get the current position */
.fa-map-marker {
  color: #ffffff;
}
#localWeather:hover .fa-map-marker {
  color: #0F1A20;
}
/* button to get an specified location weather */
#awayWeather{
  background-color: #0F1A20;
  border: 4px solid #ffffff;
  border-radius: 50%;
  width: 125px;
  height: 125px;
  text-align: center;
}
#awayWeather:hover {
  background-color: #ffffff;
  border: 4px solid #0F1A20;
}
/* location and sun icons */
.fa-location-arrow, .fa-sun-o {
  color: #fff;
}
#awayWeather:hover .fa-location-arrow, #awayWeather:hover .fa-sun-o {
  color: #0F1A20;
}
.localWeather, .awayWeather {
  display: none;
}
